<section data-ng-controller="VegetablesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Vegetables</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="vegetable in vegetables" data-ng-href="#!/vegetables/{{vegetable._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="vegetable.created | date:'medium'"></span>
				by
				<span data-ng-bind="vegetable.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="vegetable.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!vegetables.$resolved || vegetables.length">
    	No Vegetables yet, why don't you <a href="/#!/vegetables/create">create one</a>?
    </div>
</section>