<section data-ng-controller="PacketfoodsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="packetfood.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == packetfood.user._id))">
		<a class="btn btn-primary" href="/#!/packetfoods/{{packetfood._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
    <button class="btn btn-default" ng-click="remove(packetfood)">Remove</button>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="packetfood.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="packetfood.user.displayName"></span>
		</em>
	</small>
</section>
