<section data-ng-controller="WmachinesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Wmachines</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="wmachine in wmachines" data-ng-href="#!/wmachines/{{wmachine._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="wmachine.created | date:'medium'"></span>
				by
				<span data-ng-bind="wmachine.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="wmachine.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!wmachines.$resolved || wmachines.length">
    	No Wmachines yet, why don't you <a href="/#!/wmachines/create">create one</a>?
    </div>
</section>