<section data-ng-controller="ShopGroceriesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Shop grocery</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" data-ng-model="shopGrocery.name" id="name" class="form-control" placeholder="Name" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4 class="list-group-item-heading" data-ng-bind="shopGrocery.name"></h4>
          </div>
          <div class="col-md-6 pull-right">
            <div class = "pull-right">
              <span class="list-group-item-heading" data-ng-bind="shopGrocery.mobile"></span>
              <button class="button btn-success">call</button>
            </div>
          </div>
          <hr/>
        </div>


        <div class="row" style="border-top:1px solid whitesmoke ">
          <div class="col-md-2">
            Delivery boy?</br>
            <button class="button btn-success">Yes</button>
            <button class="button btn-danger">No</button>
          </div>

          <div class="col-md-2">
            <label>Download App? {{shopGrocery.appDownloaded}}</label>
            <label><input type="checkbox" data-ng-model="shopGrocery.appDownloaded"> Login App</label>
          </div>

          <div class="col-md-2">
            Open All days?{{shopGrocery.Offday.name}}</br>
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" ng-model="openalldays">
      </span>
              <select ng-model="shopGrocery.Offday" class="form-control" ng-if="!openalldays" ng-options="day as day.name for day in days"></select>

            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->


          <div class="col-md-3">
            Delivery Area? <b>{{shopGrocery.deliveryDistance}} </b></br>
            <div class="btn-group">
              <label class="btn btn-default">
                <input type="radio" name="color" data-ng-model="shopGrocery.deliveryDistance" value="0.5"> 0.5Km
              </label>
              <label class="btn btn-default">
                <input type="radio" name="color" data-ng-model="shopGrocery.deliveryDistance" value="1"> 1Km
              </label>
              <label class="btn btn-default">
                <input type="radio" name="color" data-ng-model="shopGrocery.deliveryDistance" value="2"> 2Km
              </label>
            </div>

          </div>

          <div class="col-md-3">
            Delivery time garuntee? <b>{{shopGrocery.deliveryTime}}</b></br>
            <div class="btn-group">
              <label class="btn btn-default">
                <input type="radio" name="deliveryTime" data-ng-model="shopGrocery.deliveryTime" value="30"> 30 min
              </label>
              <label class="btn btn-default">
                <input type="radio" name="deliveryTime" data-ng-model="shopGrocery.deliveryTime" value="45"> 40 min
              </label>
              <label class="btn btn-default">
                <input type="radio" name="deliveryTime" data-ng-model="shopGrocery.deliveryTime" value="60"> 60 min
              </label>
            </div>
        </div>
        </div>

        <div class ="row" style="border-top:1px solid whitesmoke">

          <div class="col-md-2">
            Start Time?</br>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" id="timeam" name="timeam" maxlength="2" data-ng-model="shopGrocery.startTime">
                <label for="timeam">AM </label>{{shopGrocery.startTime}}
              </div>
              <div class="col-md-6">
                <input type="text" id="timepm" class="form-control" name="timepm" maxlength="2" data-ng-model="shopGrocery.closeTime">
                <label for="timepm">PM </label>{{shopGrocery.closeTime}}
              </div>
            </div>
          </div>



          <div class="col-md-4">
            Intrest Level {{ourExperience}}</br>
            <div class="btn-group">
              <label class="btn btn-default">
                <input type="radio" name="storeExperience" data-ng-model="ourExperience" value="2"> Great
              </label>
              <label class="btn btn-default">
                <input type="radio" name="storeExperience" data-ng-model="ourExperience" value="1"> Average
              </label>
              <label class="btn btn-default">
                <input type="radio" name="storeExperience" data-ng-model="ourExperience" value="0"> Not Much
              </label>
            </div>
          </div>

        </div>



        <div class="form-group">
          <div class="row">
            <div class="text-center">
              <input type="submit" value="Update" class="btn btn-lg btn-primary">
            </div>
          </div>

          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
      </div>
      </fieldset>



    </form>
  </div>
</section>
