<section data-ng-controller="OrdersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Orders</h1>
    </div>
    <div class="list-group">


        <div>
            <div class="col col-md-3"><b>Consumer Mobile</b></div>
            <div class="col col-md-3"><b>Shop</b></div>
            <div class="col col-md-2"><b>Product Ordered</b></div>
            <div class="col col-md-2"><b>Change Store</b></div>
            <div class="col col-md-2"><b>Status</b></div>
        </div>
        <hr>
        <hr>


        <div class="row"
             ng-class="{'alert alert-danger':order.orderStatus == 'sent','alert alert-success':order.orderStatus == 'delivered'}"
             data-ng-repeat="order in orders">
            <div class="col col-md-3">
                <div class="text-info">
                    <b>Mobile No</b>: {{order.customer.mobile}}
                </div>
                <div class="text-muted">
                    <b>Address</b>: {{order.customer.addLine1 + order.customer.addLine2}}
                </div>
            </div>
            <div class="col col-md-3">
                <b>Name</b> {{order.store.name}}
                <div class="text-info">
                    <b>Mobile</b> {{order.store.mobile}}
                </div>

                <div class="text-muted">
                    <b>Address</b> {{order.store.address}}
                </div>
            </div>

            <div class="col col-md-2">
                <li ng-repeat="item in order.order.orderitem">
                    {{item.name}}
                </li>
            </div>
            <div class="col col-md-2">
                <button type="button" class="btn btn-info" ng-click="renderMap(order)">Get Nearby shops</button>
            </div>
            <div class="col col-md-2">
                Current order status :
                <select class="form-control" id="select1" ng-model="order.orderStatus">
                    <option>sent</option>
                    <option>rejected</option>
                    <option>accepted</option>
                    <option>delivered</option>
                    <option>canceled</option>

                </select>
                <hr>
                <button type="button" class="btn btn-success" ng-click="changeOrderStatus(order)">Update Order status
                </button>
            </div>

            <div class="col-md-12 text-center" ng-if="order.showMap">

                <!--<ng-map zoom-control='false' center="{{order.latitude}},{{order.longitude}}" zoom="14">-->


                <!--<marker ng-repeat="otherShop in shopsNearBy" id="{{otherShop._id}}"-->
                <!--position="{{otherShop.loc.coordinates[1]}},{{otherShop.loc.coordinates[0]}}"-->
                <!--ng-if="(otherShop.loc.coordinates[0] !==order.store.loc.coordinates[0])&&(otherShop.loc.coordinates[1] !==order.store.loc.coordinates[1])">-->
                <!--</marker>-->



                <!--</ng-map>-->

                <ng-map default-style="true" zoom="14" center="{{order.latitude}},{{order.longitude}}">

                    <info-window id="myInfoWindow" >
                        <div ng-non-bindable>
                            <h4>{{selectedShop.name}}</h4>
                            <h6>{{selectedShop.mobile}}</h6>
                            <button ng-click="changeStore(selectedShop,order)">Change Store</button>
                        </div>
                    </info-window>

                    <marker ng-repeat="otherShop in shopsNearBy"
                            position="{{otherShop.loc.coordinates[1]}},{{otherShop.loc.coordinates[0]}}"
                            title="{{otherShop.name}}"  id="{{otherShop.id}}"
                            on-click="showShop(event, otherShop)"
                            ng-if="(otherShop.loc.coordinates[0]!==order.store.loc.coordinates[0])&&(otherShop.loc.coordinates[1]!==order.store.loc.coordinates[1])">
                    </marker>

                    <marker position="{{order.latitude}},{{order.longitude}}"
                            icon="https://upload.wikimedia.org/wikipedia/commons/9/92/Map_marker_icon_%E2%80%93_Nicolas_Mollet_%E2%80%93_Home_%E2%80%93_People_%E2%80%93_Default.png">
                    </marker>

                    <marker on-click="clicked(order.store.name)"
                            icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png" animation="BOUNCE"
                            position="{{order.store.loc.coordinates[1]}},{{order.store.loc.coordinates[0]}}">
                    </marker>

                </ng-map>
            </div>


        </div>

        <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span data-ng-bind="order.created | date:'medium'"></span>-->
        <!--by-->
        <!--<span data-ng-bind="order.user.displayName"></span>-->
        <!--</small>-->
        <!--<h4 class="list-group-item-heading" data-ng-bind="order.name"></h4>-->
    </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!orders.$resolved || orders.length">
        No Orders yet, why don't you <a href="/#!/orders/create">create one</a>?
    </div>
</section>

