<section data-ng-controller="TvdescriptionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tvdescriptions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tvdescription in tvdescriptions" data-ng-href="#!/tvdescriptions/{{tvdescription._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="tvdescription.created | date:'medium'"></span>
				by
				<span data-ng-bind="tvdescription.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="tvdescription.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tvdescriptions.$resolved || tvdescriptions.length">
    	No Tvdescriptions yet, why don't you <a href="/#!/tvdescriptions/create">create one</a>?
    </div>
</section>